main/*.o
main/lex
main/lex.yy.c
main/y.output
main/y.tab.*
main/yas
main/yas_grammar.tab.*
commands/*.o
commands/cd
commands/printenv
commands/setenv
commands/unsetenv
commands/unalias
commands/bye
commands/alias
